/*
=========================================================================================
                                    2. GENERIC CSS
=========================================================================================
*/
.section-padding {
  padding: 115px 0;
}

.generic-btn {
  padding: 14px 30px;
  display: inline-block;
  border-radius: 100px;
  font-weight: 600;
}

.blue-btn {
  background-color: #2231F6;
  color: #fff;
}
.blue-btn i {
  margin-right: 10px;
}
.blue-btn:hover {
  color: #2231F6;
  background-color: #fff;
}

.fix {
  overflow: hidden;
}

.clear {
  clear: both;
}

.generic-title {
  text-align: center;
}
.generic-title h2 {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 45px;
}
.generic-title p {
  width: 50%;
  color: #777;
  font-size: 17px;
  margin: auto;
  line-height: 1.7;
}

.mb-100 {
  margin-bottom: 100px;
}

.mt-52 {
  margin-top: 52px;
}

.border-link {
  font-weight: 600;
  padding-bottom: 10px;
  display: inline-block;
  border-bottom: 0.5px solid #999999;
  transition: 0.3s;
}
.border-link:hover {
  border-bottom: 0.5px solid #2231F6;
}