/*
=========================================================================================
                                    6. WORK
=========================================================================================
*/
section.work{
    background-color: #000;
    color: #fff;
    padding: 115px 0 355px 0;
    h2{
        font-size: 45px;
        font-weight: 600;
    }
    p{
        font-size: 20px;
        color: darken(#fff,30%);
    }
}